name: publish
on:
  release:
    types:
      - published
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  publish-docker:
    uses: y13i/actions/.github/workflows/docker.yml@main
    secrets:
      dockerhub-access-token: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
